__pycache__
dashboard/humanviruses/
dashboard/cladecounts/
dashboard/organism_sample_counts.json
dashboard/*.dmp
dashboard/*.zip
dashboard/readme.txt
dashboard/gc.prt
dashboard/hvreads/
dashboard/top_species_counts/
dashboard/top_species_scratch/
dashboard/allmatches/
dashboard/riboreads/
